html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 6rem;
  background-color: hsl(0, 0%, 98%);
  color: hsl(229, 6%, 66%);
  padding: 12rem;
}
.heading-box {
  width: 50%;
  text-align: center;
}
.heading-main {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: -0.07rem;
}
.heading-secondary {
  font-size: 3rem;
  letter-spacing: -0.07rem;
}
.bold-heading {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.article-design {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  /* syntax of box shadow */
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */

  box-shadow: 0 0.8rem 0.7rem 0.5rem rgba(76, 78, 97, 0.1);
}
.articles {
}
.icon {
  margin-top: 5rem;
  width: 4.8rem;
  align-self: flex-end;
}
.supervisor-article {
  grid-area: supervisor;
  align-self: center;
  border-top: 0.5rem solid hsl(180, 62%, 55%);
}
.team-builder-article {
  grid-area: team-builder;
  border-top: 0.5rem solid hsl(0, 78%, 62%);
}
.karma-article {
  grid-area: karma;
  border-top: 0.5rem solid hsl(34, 97%, 64%);
}
.calculator-article {
  grid-area: calculator;
  align-self: center;
  border-top: 0.5rem solid hsl(212, 86%, 64%);
}
